# .coveragerc to control coverage.py
[report]
exclude_lines =
    pragma: no cover
    raise Exception
    raise FileNotFoundError
    raise ValueError
    raise TypeError
    except shutil.Error
    except OSError