stages:
  - lint
  - test
  - weekly_tests

variables:
  EO_CONTAINERS: $REGISTRY_GITLAB/eo-containers
  SU_CHANGES: sertit/[^_]*.{py,xml}

include:
  - project: 'sertit/groupware'
    file: '/ci_templates/lint_3_10.yaml'
  - project: 'sertit/groupware'
    file: '/ci_templates/pytest.yaml'

.rules_pytest:
  rules:
    - if: $CI_COMMIT_TAG
      when: never
    - changes:
        - $SU_CHANGES
        - ci/**/*.{py,xml}
        - .gitlab-ci.yml

pytest:
  image: $EO_CONTAINERS:geo_latest
  extends:
    - .pytest
    - .rules_pytest
  variables:
    CI_SERTIT_USE_S3: "0"
    COV: sertit
    EXTRA_DEPENDENCIES: full
  tags:
    - sertit
    - linux
    - low_memory

pytest_s3:
  extends:
    - .pytest
    - .rules_pytest
  image: $EO_CONTAINERS:geo_latest
  variables:
    COV: sertit
    EXTRA_DEPENDENCIES: full
  tags:
    - sertit
    - linux
    - low_memory

pytest_314:
  extends:
    - .pytest
  image: $EO_CONTAINERS:geo_314_latest
  variables:
    COV: sertit
    EXTRA_DEPENDENCIES: full
  tags:
    - sertit
    - linux
    - low_memory
  rules:
    - if: '$CI_PIPELINE_SOURCE == "schedule" && $SCHEDULE_NAME == "3.14"'
      when: always
