# Generic extension to ignore
*.py[cod]
.idea
*.txt
!test.txt
!*requirements.txt
!*requirements-doc.txt
*.aux.xml
__pycache__/
.tox
.coverage
cov.xml
*.lock

# Build options
build/
*.egg-info/
dist

# Vectors
*.gfs

# dask
dask-worker-space/*

# Data in CI
CI/*.tif
CI/*.zip
CI/*.vrt
