# Libs for all platforms
pytest
tqdm
twine
pylint
pdoc3
psutil
lxml

# For Windows (use wheels)
./CI/COTS/pyproj-3.0.0.post1-cp37-cp37m-win_amd64.whl;platform_system=="Windows"
./CI/COTS/GDAL-3.2.1-cp37-cp37m-win_amd64.whl;platform_system=="Windows"
./CI/COTS/Fiona-1.8.18-cp37-cp37m-win_amd64.whl;platform_system=="Windows"
./CI/COTS/Shapely-1.7.1-cp37-cp37m-win_amd64.whl;platform_system=="Windows"
./CI/COTS/geopandas-0.8.2-py3-none-any.whl;platform_system=="Windows"
./CI/COTS/rasterio-1.2.0-cp37-cp37m-win_amd64.whl;platform_system=="Windows"

# For Linux
# For now, GDAL 3.0.4 does not work smoothly on Linux. Use 2.2.4 instead.
# If error:
# sudo apt-get install libgdal-dev
# export CPLUS_INCLUDE_PATH=/usr/include/gdal
# export C_INCLUDE_PATH=/usr/include/gdal
GDAL==2.2.4;platform_system=="Linux"
geopandas;platform_system=="Linux"
rasterio;platform_system=="Linux"
