# Tests & lint
tox
tox-conda;platform_system=="Windows"
pre-commit
black
pytest
coverage
pytest-cov
flake8
pylint

# Deploy
twine

# Doc
pdoc3

# Libs for all platforms
tqdm
psutil
lxml
colorlog
rasterio
rioxarray
geopandas

--extra-index-url ${WINDOWS_WHEELS}
